<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../scripts/countdown.js"></script>
    <meta charset="UTF-8">
    <title>Hello df!</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <div class="draggable-area"><p>Drag</p></div>
    <!--<p id="countDown"></p> -->
    <div id="popupSetting">
    </div>
      <img id="cat" src="../assets/rest-cat-animated.gif" width=180 height=200>
  </body>
  <script type="text/javascript" src="../scripts/setting.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">
</html>