<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../countdown.js"></script>
    <meta charset="UTF-8">
    <title>Hello df!</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/main.css">
    <script type="text/javascript" src="../scripts/main.js"></script>
    <script>
      function switchHackMode(checkboxElem) {
        let cat = document.getElementById("cat");
        if (checkboxElem.checked) {
          cat.src = "../assets/hacker-cat-animated.gif";
        } else {
          cat.src = "../assets/rest-cat-animated.gif";
        }
}
    </script>
  </head>
  <body>

    <div class="draggable-area"><img src="../assets/drag-icon.png" width=30 height=30></div>
    <!--<p id="countDown"></p> -->
    <div id="popupSetting">
    </div>
      <img id="cat" src="../assets/rest-cat-animated.gif" width=180 height=200 alt="cat">
    <p id="timer">Timer: </p>
    <p>
      <br><input type="checkbox" name="hacker" value="hackMode" onchange="switchHackMode(this)">
      <label for="hacker">Turn on hacker mode?</label><br>
    </p>
<!--    <form>-->
<!--      <input type="time" id="setTime" min="00:01" max="01:00" required>-->
<!--      <input type="submit" value="submit">-->
<!--    </form>-->
  </body>
  <script type="text/javascript" src="../scripts/setting.js"></script>
  <script type="text/javascript" src="../scripts/timer.js"></script>
    <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">-->
</html>